html{
	background-image: URL("http://spab-rice.com/codecanyon/elegantcarousel/files/images/background_grey.jpg");
	background-size: cover;
}


header{
	color:#003cb3;
	text-align: center;
	font-size:40px;
	font-weight: bold;
	font-family: sans-serif;
	text-shadow: 2px 2px #002266;
	margin-top: -40px;
	margin-bottom: -40px;
	
}

nav{
	text-align:center;
	font-size: 30px;
	font-weight: bold;
	overflow: auto;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav>a:link{
	text-align: center;
	border: 2px solid #003cb3;
	border-radius: 5px;
	display: inline-block;
	height: 35px;
	width: 175px;
	margin: 5px;
	color: #003cb3;
	text-decoration: none;
}

nav>a:hover{
	text-align: center;
	border: 2px solid #003cb3;
	border-radius: 5px;
	display: inline-block;
	height: 35px;
	width: 175px;
	margin: 5px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	background-color: #003cb3;
}

nav>a:visited {
	border: 2px solid #003cb3;
}

img{
	border:2px solid black;	
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 35px;
	margin-bottom: 35px;
	width: 400px;
	height: 300px;

}

footer{
	text-align:center;
	border-top: 4px solid black;
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}

footer a:hover{
	text-decoration: none;
	color: red;
	font-weight: bold;
	font-size: 20px;
}